/************************
STYLES.CSS - ESTILOS 
*************************/

/*CCS RULES para las fonts*/
/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
*/

/*Estilo GENERAL********************************/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body {
    width: auto;
    height: auto;
    background-color: #FEFBFA; 
}


/*LINKS********************************/




a {
    outline: none;
    text-decoration: none;
    color: #20292F;
    
}

a:hover {
    color: #000000;

}



/*HEADER: Logo y Menú **************/

header{
    height: 100%;
    background-color: white;
}

.containerHeader{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 60px;
    grid-template-areas: 
    "logo menu";
    align-content:flex-end;

}

.logo {
    grid-area: logo;
    padding-top: 0px;
    height: 50px;
    width: 170px;
    align-self: center
}
  
.logo>a>img {
    object-fit: fit;
    max-width: 150px;
    padding-left: 20px;
    ;
}   

.menu{
    grid-area: menu;
    justify-self: center;
    align-self: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    float: left;
}

li a {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 16px;
    margin: 5px 7px
}

li a:hover {
    background-color: rgb(215, 255, 69);
    transition: background-color 0.5s;
    border-radius: 1rem;
    box-shadow: 1px 1px grey;
}



/*SECCIÓN 1. Carrousel***********/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(215, 255, 69);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(215, 255, 69);
}

/* Caption text */
.text {
  color: rgb(215, 255, 69);
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  padding-left: 1100px;
  padding-right: 100px;
  padding-bottom: 50px;
  -webkit-text-stroke: 0.1px black
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(215, 255, 69);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*BOTONES*****************************/
button {
    font-size: 17px;
    font-weight: bold;
    
    background-color: #d7ff45;
    padding: 10px 16px;
    border-radius: 1rem;
    box-shadow: 1px 1px grey;
}


/*SECCIÓN 2*//*NOVEDADES*****************/
.margin-b {
  margin-bottom: 25px !important;
}
.title {
  font-family: 'Raleway';  
}
.ancho-texto {
    width: 500px;
}
.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.card {
    position: relative;
    display: block;
}
.margin-large-b {
    margin-bottom: 30px;
}
span {
    font-family: "Raleway";
}

.containerSeccion2{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    color: black;
    align-content:center;
}



/*SECCIÓN 3*//*PRODUCTOS DESTACADOS*************/

.containerSeccion3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: black;
  align-content:center;
}

.containerSubSeccion3 {
  display: grid;
  grid-template-rows: 50% 50%;
  color: black;
  align-content:center
}

.prodDest {
  font-family: "Raleway";
  color: rgb(116, 116, 116);
  font-weight: regular ;
  font-size: 18px;
  align-content: left;
  display: inline;
}
.precios {
  font-family: "Raleway";
  color: rgba(255, 0, 0, 0.659);
  font-weight: bold ;
  font-size: 20px;
  align-self: right;
  margin-right: 0px;
  display: inline-block;
 
}

.bordeProd {
  border: 1px solid rgba(128, 128, 128, 0.439);
}


/*SECCIÓN 3*//*PRODUCTOS DESTACADOS*************/

.seccionPromos {
  background-color: #333333;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
}

section.seccionPromos h2 {
  padding-top: 10px ;
  margin-left: 15px;
  font-size: 25px;
  font-family: "Roboto";
  color: white;
}

.containerPromos {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  align-content:center;
}

div.containerPromos div img {
  width: auto;
}




/*Tamaños textos "h" **************/
h2 {
    margin-left: 15px;
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(80, 80, 80);
}

h4 {
  font-family: "Raleway";
  font-weight: regular;
  text-decoration: underline;
  color: white;    
  align-content: left;
}

footer h5 {
  padding-left: 20px;
  font-family: "Raleway";
  font-weight: regular;
  color: rgb(211, 211, 211);    
  align-content: left;
  font-size: 25px;
}

h6 {
  padding-left: 20px;
  font-family: "Roboto";
  font-weight: lighter;
  color: rgb(211, 211, 211);    
  align-content: left;
  font-size: 20px;
}

h6.copyright {
  font-size: 14px;
}



/*FOOTER**************************************/
.footer {
    background-color: #333333;
    color:white;
    padding: 10px;
}

.inputEmail {
  width: 500px;
  font-size: 18px;
}

.inputEnviar {
  font-size: 18px;
}
